# General
*
!*/
!*.txt

# VHDL
# Note: Using .sv for SystemVerilog 2006 Standard instead of .v for Verliog 2001 standard
!*.sv
!*.vhdl
!*.vhd

# Quartus
!*.qpf
!*.qsf
!*.sdc
!*.srf
!*.ppf

# Platform Designer (Qsys)
!*.qsys
!*.qip
!*.bsf

# Modelsim
!*.mpf
!*.vqm
!*.qrf
!*.do
!*.tcl

# Doc
!*.tex
!*.md

# Folders
*.vscode/
quartus/db
quartus/incremental_db
quartus/output_files
quartus/simulation

# Software (alpha)
*.asm
*.c
*.cc
*.cpp
