# General
  *
  !*/
  !*.txt
# VHDL
  !*.sv         # Note: .sv for SystemVerilog 2006 Standard instead of .v for Verliog 2001 standard
  !*.vhdl
  !*.vhd
# Quartus
  !*.qpf
  !*.qsf
  !*.sdc
  !*.srf
# Platform Designer (Qsys)
  !*.qsys
  !*.qip
  !*.bsf
# Modelsim
  !*.mpf
  !*.vqm
  !*.qrf
  !*.do
  !*.tcl
# Doc
  !*.tex
  !*.md
# Folders
  *.vscode/
